#main{
    background-image: url("https://www.stockvault.net/data/2018/11/01/256049/preview16.jpg")
}

hr{
    border: 1px solid lightslategray;
}


 img{
    height: 190px;
    width: 280px;
    object-fit: cover;
}  

#section{
    display: block;
    margin-left: 1%;
    width: 100%;
    font-size: 90%;
}

.imageTable tbody tr th{
   padding: 20px;
    /* width: #section; */
}

.box{
    position: relative;
    display: inline-block; 
    
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; 
    text-align: center;
    background-color: teal;
    
}

h2{
    color: white;
    padding-top: 14px;
    padding-bottom: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    
}

.footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;   
}


.navbar-brand{
    padding: 15px 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    background-color: teal;
    margin-left: 20px;
}

.navbar{
    padding: 0;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    color: teal;
}

.navbar-nav p{
    padding-top: 6px;
    font-weight: lighter;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
    color: rgb(77, 35, 35);
}

.footer{
    font-size: x-small;
    border-top:5px solid teal;
}
.footer p{
    margin-top: 5px;
}

@media screen and (max-width: 980px) {

  .imageTable tbody tr th{
    padding-left: 0.5%;
    display: flexbox;
 } 


 #section{
     display: block;
    width: 92%;
    font-size: 85%;
    margin-left: 2%;
}
}

 @media screen and (max-width: 768px) { 

    #section{
        display: block;
        width: 126%;
        font-size: 85%;
        /* margin-left: 35px; */
    }

    .imageTable tbody tr th{
        padding-left: 0.5%;
        /* margin:auto; */
        display: flexbox;
        
     } 
}

/* @media screen and (max-width: 850px) { 
    
    #aboutcontain{
        width: 120%;
        font-size: 85%;
        margin-left: 20px;
        
    }
} */

@media screen and (max-width: 640px) { 
    body{

    background-color: yellow;
    }
    


#section{ 
        width: 124%;
        font-size: 85%;
        margin-left: 20px;
        margin-top: 35px;   
    }

#header {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
} 

 .navbar-nav {
    flex: auto;
      margin-top: 50px; 
      position: absolute;  
      width: 100%;
      background-color: white;   
}

#bottomNav{
    padding-left: 130px;
    padding-right: 130px;
}

.imageTable tbody tr th{
    display: block;
    margin-left:15%;
    /* margin: auto; */
    /* justify-content: center; */
  } 

 img{
    height: 300px;
    width: 400px;
    object-fit: cover;
}  

.box .text{
    top: 80%; 
    
}

}
   