body{

    background-color: grey;
}

.aboutImage{
    float: left;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;   
}


.navbar-brand{
    padding: 15px 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    background-color: teal;
    margin-left: -15px;
}

.navbar{
    padding: 0;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
}

.navbar-nav p{
    padding-top: 6px;
    font-weight: lighter;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
    color: lightgray;
}

.footer{
    font-size: x-small;
    border-top:5px solid teal;
}
.footer p{
    margin-top: 5px;
}

@media screen and (max-width: 980px) {

body {
      background-color: lime;     
    }

#aboutcontain{
    margin-left: 33px;
    width: 75%;
    font-size: 90%;
}

#yourName{
    margin-left: -50px;
}
.navbar-nav
{
    justify-items: end ;
}
img{
    width: 160px;
    height: 120px;
    object-fit: cover;
}
}

@media screen and (max-width: 768px) {

    body {
          background-color: blue;     
        }
    
    #aboutcontain{
        margin-left: 33px;
        width: 75%;
        font-size: 90%;
    }
    
    #yourName{
        margin-left: -50px;
    }
    .navbar-nav
    {
        justify-items: ;
    }
    img{
        width: 160px;
        height: 120px;
        object-fit: cover;
    }
    }




    

